h1 {
  font-weight: bold;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
  margin-bottom: 19px;
}
.container-fluid {
  background-color: #04300a !important;
  min-height: 100vh;
}
.inputField {
  border: 1px solid #fdfdfd;
  border-radius: 5px;
  background-color: #011103 !important;
  margin: 5px;
}

button {
  appearance: none;
  background-color: #ffffff;
  border-radius: 40em;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 0.5em;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: #ffc229;
  box-shadow: #ff6314 0 -6px 8px inset;
  transform: scale(1.125);
}

button:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  button {
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
  }
}
.imageField {
  text-align: center;
  margin: 2em;
  zoom: 110%;
  opacity: 0.2;
  overflow: hidden;
}
